<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="includes/header :: head"></head>
<body>
<div class="page-wrapper">
    <div th:replace="includes/navbar :: navbar"></div>
    <div class="main-wrapper">
        <div class="main">
            <div class="main-inner">
                <div class="page-title">
                    <div class="container">
                        <h1>My Profile</h1>
                    </div>
                    <!-- /.container-->
                </div>
                <!-- /.page-title -->
                <div class="container">
                    <div class="row mb80">
                        <div class="col-sm-4 offset-sm-4">
                            <h3 class="page-title-small text-center"><i class="fa fa-user-circle fa-3x"
                                                                        style="color: #00ad79;"></i></h3>
                            <div class="alert alert-danger" th:if="${error} != null">
                                <span th:text="${error}"></span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-success" th:if="${success} != null">
                                <span th:text="${success}"></span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post" th:action="@{/profile}" id="profileForm">
                                <input type="hidden" name="id" id="id" th:value="${profile.id}">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Full Name" th:value="${profile.name}">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" th:value="${profile.email}">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="contact" id="contact" placeholder="Contact Number" th:value="${profile.contact}">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" id="username" placeholder="Choose User Name" th:value="${profile.username}">
                                </div>
                                <!-- /.form-group -->
                                <!--<div class="form-group">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" th:value="${profile.password}">
                                </div>-->
                                <div class="form-group">
                                    <input type="text" class="form-control" name="city" id="city" placeholder="City" th:value="${profile.city}">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="address" id="address" placeholder="Address" th:text="${profile.address}"></textarea>
                                </div>
                                <!-- /.form-group -->
                                <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                            </form>
                        </div>
                        <!-- /.col-sm-4 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.main-inner -->
        </div>
        <!-- /.main -->
    </div>
    <!-- /.main-wrapper -->
    <div th:replace="includes/footer :: footer"></div>
    <script type="text/javascript" src="/js/additional-methods.js"></script>
    <script type="text/javascript" src="/js/form.js"></script>
    <!-- /.page-wrapper -->
    <div class="modal"></div>
</div>
</body>
</html>