<!DOCTYPE html>
<html lang="en">
  <head th:replace="includes/header :: head"></head>
  <style>
    .alert {
      padding: 8px 4px;
    }
    .card-inner {
      height: 300px;
    }
    .error {
      color: red;
    }
  </style>
  <body>
    <div class="page-wrapper">
      <div th:replace="includes/navbar :: navbar"></div>
      <div class="main-wrapper">
        <div class="main">
          <div class="main-inner">
            <div style="height: 80px;"></div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6 col-xs-12">
                <div th:if="${status == 'success'}" class="alert msg-alert alert-success text-center " style="font-size: 14px;">
                  <strong>Success!</strong> Please reset your password below.
                </div>
                <div th:if="${status == 'reset'}" class="alert msg-alert alert-success text-center " style="font-size: 14px;">
                  <strong>Success!</strong> Your password has been reset. Please
                  <a th:href="@{'/signin'}" style="color: #ffeb3b; text-decoration: underline;">login</a> to continue.
                </div>
                <div th:if="${status == 'failed'}" class="alert msg-alert alert-danger text-center " style="font-size: 14px;">
                  <strong>Alert!</strong> Invalid / expired / already used password reset link.
                  Please contact our support team for further assistance.
                </div>
                <div th:if="${status == 'error'}" class="alert msg-alert alert-danger text-center " style="font-size: 14px;">
                  <strong>Error!</strong> Unable to verify your email address. Verification error. Please
                  contact our support team for further assistance.
                </div>
              </div>
            </div>
            <div class="row" th:if="${status == 'success'}">
              <div class="col-md-4"></div>
              <div class="col-md-4 col-xs-12">
                <div class="card " >
                  <div class="card-inner">
                    <div class="card-attribute" style="color: #00ad79; border-bottom: 1px solid #b2b2b2; font-size: 14px;">
                      <i class="fa fa-lock fa-lg"></i>
                      Reset Password
                    </div>
                    <div class="card-content" style="top: 25%;">
                      <form id="resetpwd-form" action="/resetpwd" method="post">
                        <div class="form-group">
                          <input type="hidden" id="code" name="code" th:value="${code}" />
                          <label for="upass">Enter new password</label>
                          <input type="password" class="form-control" id="upass" name="upass" placeholder="Enter new password">
                        </div>
                        <div class="form-group">
                          <label for="repass">Re-enter new password</label>
                          <input type="password" class="form-control" id="repass" name="repass" placeholder="Re-enter new password">
                        </div>
                        <div class="form-group-btn">
                          <button type="submit" id="bth-resetpwd" class="btn btn-primary float-right">Submit</button>
                        </div>
                      </form>
                    </div>
                    <!-- /.card-content -->
                  </div>
                  <!-- /.card-inner -->
                </div>
              </div>
            </div>
          </div>
          <!-- /.main-inner -->
        </div>
        <!-- /.main -->
      </div>
      <!-- /.main-wrapper -->
      <div style="" th:replace="includes/footer :: footer"></div>
    </div>
    <!-- /.page-wrapper -->
    <script th:inline="javascript">
      $(document).ready(function () {
        /*setTimeout(function() {
          $('.alert').fadeOut('fast');
        }, 5000);*/
        $('#resetpwd-form').validate({ // initialize the plugin
          rules: {
              upass : {
                minlength : 5,
                required: true
              },
              repass : {
                equalTo : "#upass",
                required: true
              }
            },
            submitHandler: function (form) {
              $("body").addClass("loading");
              $('#resetpwd-form').submit();
            }
        });

      });
    </script>
    <!-- /.page-wrapper -->
    <div class="modal"></div>
  </body>
</html>