<div *ngIf="isViewRequest else submitForm;">
  <form [formGroup]="nearbyForm" enctype="multipart/form-data" (ngSubmit)="submitNearbyData()">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-9 col-xs-12" style="margin: 50px 0px;">
        <mat-accordion [multi]="true" #accordion="matAccordion">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Hospitals</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row" formArrayName="hospitals">
              <div class="col-md-12 col-xs-12"
                *ngFor="let ctrl of nearbyForm.get('hospitals')['controls']; let i = index" [formGroupName]="i"
                style="padding-top: 10px; margin: 0px;">
                <div class="row">
                  <div class="col-md-7 col-xs-12">
                    <mat-form-field>
                      <input matInput [disabled]=true [value]="nearbyModel.hospitals[i]" placeholder="Location {{i}}">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Schools</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row" formArrayName="schools">
              <div class="col-md-12 col-xs-12" *ngFor="let ctrl of nearbyForm.get('schools')['controls']; let i = index"
                [formGroupName]="i" style="padding-top: 10px; margin: 0px;">
                <div class="row">
                  <div class="col-md-7 col-xs-12">
                    <mat-form-field>
                      <input matInput placeholder="Location {{i}}" [disabled]=true [value]="nearbyModel.schools[i]">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="col-md-12 col-xs-12">
          <div class="row">
            <div class="col-sm-6">
              <button type="button" mat-button matStepperPrevious class="btn btn-danger btn-sm">&lt;&lt; Previous</button>
            </div>
            <div class="col-sm-6">
              <button type="button" [disabled]="!isNearbyCompleted" mat-button matStepperNext
                class="btn btn-primary btn-sm float-right">
                Next &gt;&gt;</button>
            </div>
          </div>
        </div>
    </div>
  </form>
</div>
<ng-template #submitForm>
  <form [formGroup]="nearbyForm" enctype="multipart/form-data" (ngSubmit)="submitNearbyData()">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-9 col-xs-12" style="margin: 50px 0px;">
        <mat-accordion [multi]="true" #accordion="matAccordion">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Hospitals</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row" formArrayName="hospitals">
              <!--div class="col-md-6 col-xs-12" style="padding-top: 10px; margin: 0px;">
              <mat-form-field>
                <input matInput placeholder="Property Id" [disabled]=true [value]="propertyId">
              </mat-form-field>
            </div-->
              <div class="col-md-12 col-xs-12"
                *ngFor="let ctrl of nearbyForm.get('hospitals')['controls']; let i = index" [formGroupName]="i"
                style="padding-top: 10px; margin: 0px;">
                <div class="row">
                  <div class="col-md-7 col-xs-12">
                    <mat-form-field>
                      <input matInput [(ngModel)]="nearbyModel.hospitals[i]" placeholder="Enter Location Details"
                        formControlName="hospital">
                    </mat-form-field>
                  </div>
                  <div class="col-md-5 col-xs-12">
                    <h4></h4>&nbsp;&nbsp;
                    <button mat-mini-fab class="btn btn-info text-center" *ngIf="i==nearbyModel.hospitals.length-1"
                      type="button" (click)="onAddHospitals()">
                      <mat-icon style="font-size: 1.4rem;font-weight: 600;">add</mat-icon>
                    </button>
                    <button mat-mini-fab class="btn btn-danger pull-left" *ngIf="i>0" type="button"
                      (click)="deleteHospital()">
                      <mat-icon style="font-size: 1.4rem;font-weight: 600;">remove</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Schools</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row" formArrayName="schools">
              <!--div class="col-md-6 col-xs-12" style="padding-top: 10px; margin: 0px;">
              <mat-form-field>
                <input matInput placeholder="Property Id" [disabled]=true [value]="propertyId">
              </mat-form-field>
            </div-->
              <div class="col-md-12 col-xs-12" *ngFor="let ctrl of nearbyForm.get('schools')['controls']; let i = index"
                [formGroupName]="i" style="padding-top: 10px; margin: 0px;">
                <div class="row">
                  <div class="col-md-7 col-xs-12">
                    <mat-form-field>
                      <input matInput placeholder="Enter Location Details" [(ngModel)]="nearbyModel.schools[i]"
                        formControlName="school">
                    </mat-form-field>
                  </div>
                  <div class="col-md-5 col-xs-12">
                    <h4></h4>&nbsp;&nbsp;
                    <button mat-mini-fab class="btn btn-info text-center" *ngIf="i==nearbyModel.schools.length-1"
                      type="button" (click)="onAddSchools()">
                      <mat-icon style="font-size: 1.4rem;font-weight: 600;">add</mat-icon>
                    </button>
                    <button mat-mini-fab class="btn btn-danger pull-left" *ngIf="i>0" type="button"
                      (click)="deleteSchool()">
                      <mat-icon style="font-size: 1.4rem;font-weight: 600;">remove</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="col-md-12 col-xs-12">
        <div class="row">
          <div class="col-sm-3">
            <button type="button" mat-button matStepperPrevious class="btn btn-danger btn-sm">&lt;&lt; Previous</button>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <button class="btn btn-sm btn-info" type="submit" mat-button>Submit</button>
            <a class="btn btn-sm btn-default" href="/property-list" mat-button>Cancel</a>
          </div>
          <div class="col-sm-3">
            <button type="button" [disabled]="!isNearbyCompleted" mat-button matStepperNext
              class="btn btn-primary btn-sm float-right">
              Next &gt;&gt;</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>