<div th:fragment="footer-public">
    <footer >
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="col">
                        <h4>About Us</h4>
                        <p class="footer1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been hbgtrhb regh ur rhgior orihj fbdgn  ijgpo pojporgjp pijgpogj porgj the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled......<a href="about.html" style=" font-size: 15px;
                    color: #428bca; text-decoration: underline;">Red More</a></p>
                        <form class="form-inline">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Your email address...">
                                <span class="input-group-btn">
                                <button class="btn" type="button" style="color: #fff;
                               background: #428bca; height: 38px;">Go!</button>
                            </span>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="col col-social-icons">
                        <h4>Site Menu</h4>
                        <ul class="footer2">
                            <li><a href="#index.html"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Home</a></li>
                            <li><a href="#work"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Project</a></li>
                            <li> <a href="#contactUs"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Contact</a></li>
                            <li> <a href="login.html"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Login</a></li>
                            <li><a href="registration.html"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Register</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="col col-social-icons">
                        <h4>Our Services</h4>
                        <ul class="footer3">
                            <li><a href="#"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Site Visite</a></li>
                            <li><a href="#"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Home Loan</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="col col-social-icons">
                        <h4>Contact us</h4>
                        <ul class="footer4">
                            <li><span style="color: #fff;
                     border-bottom: none;font-family: Arial;font-size: 16px;line-height: 0px;"><i class="fa fa-map-marker"></i>Unit - 602, Level 6,<br>
    &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; Manjeera Majestic Commercial,<br>
    &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; Hi-Tech City Road,KPHB,<br>
    &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; Hyderabad - 500072,Telangana<br>
    &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;  India</span>
                            </li><li><a href="#"><i class="fa fa-phone"></i>  &nbsp;040 - 40191909</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>  &nbsp;</a><a href="info@propmita.com">info@propmitra.com</a></li>
                            <li><a href="#"><i class="fa fa-globe"></i>  &nbsp;</a><a href="http://propmitra.com/">www.propMitra.com</a></li>
                            &nbsp;
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </footer>
    <!--/.page-section-->
    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center"> Copyright 2018 | All Rights Reserved by <a href="http://kosurisoft.com" style="color:#fff; text-decoration: underline;" target="_blank"> kosurisoft.com</a> </div>
            </div>
            <!-- / .row -->
        </div>
    </section>
    <a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>
    <!-- /.footer-wrapper -->
    <!-- javascripts -->
    <script src="js/public/jquery-3.3.1.js"></script>
    <script src="js/public/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/public/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="js/public/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="js/public/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
    <script src="js/public/jquery.nav.js" type="text/javascript"></script>
    <script src="js/public/jquery.fittext.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/public/aos.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/public/custom.js" type="text/javascript"></script>
    <script src="js/public/import.js"></script>
    <!-- angular js -->
    <script src="js/public/home.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.min.js"></script>
    <!-- end angularjs -->
</div>